.col {
    border: 1px solid black; /* Border around each column */
    background-color: lightgray; /* Light gray background color */
    padding: 15px;
}

.row {
    margin-bottom: 20px;
}

body {
    color: white;
    background-color: black;
    overflow: scroll;
}

.film-reel {
    display: flex; /* Arrange images in a row */
    width: max-content; /* Adjusts width based on content */
    opacity: 1; 
    animation: move 30s linear infinite;
}

.film-reel img {
    width: 400px; /* Adjust the size of images */
    height: auto; /* Maintain aspect ratio */
}


@keyframes move {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* Move off-screen to the left */
    }
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    colour: white;
}

p {
    font-size: 1rem;
    color: white;
    margin-bottom: 40px;
}
